extends layout

block meta
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=name)
  meta(name="twitter:description", content="Check out "+name+"'s useful stuff @ Maker Faire UK")
  meta(name="twitter:image", content=image)

block content
  a.back-button.comment-text(href='/') ← Back to all posts

  .row
    .col.s12.post
      h2.mus-blue-text= spacedName
      div(style='margin: 0 0 10px 0;')
        span.comment-text.blue-grey-text.text-lighten-2(style="text-transform: uppercase; ") #{moment(date).format('MMMM Do YYYY, h:mm a')}
      .post-img-container
        img.post-img(src=image)
      p !{content}

    .col.s12.post
      .hr
    
    .col.s12.post
      h3.mus-red-text #{commentCount} Comments
      div(id="submit-comment")
        textarea(name="comment-input",id="comment-input",cols="50",rows="5",placeholder="Enter your comment here...")
        button.mus-blue.btn.waves-effect.waves-light(type='submit' name='action' id="comment-button")
          i.fas.fa-paper-plane(style='font-size: 1em; margin-right: 10px')
          | send comment

      div(id="comments")
      
  script.
    function htmlEncode(value){
      return $('<div/>').text(value).html();
    }


    var jqxhr = $.ajax("/comments/#{postId}")
      .done(function(data) {
        console.log( "success" );
        console.log( data );
        if (data.success == true){
          $('#comments').empty();
          for (let i = 0; i < data.comments.length; i++){
            let countryFlag = 'https://raw.githubusercontent.com/madebybowtie/FlagKit/master/Assets/PNG/';
            if (data.comments[i].country.toLowerCase() == 'unknown'){
              countryFlag = '/images/Missing_flag.png';
            } else {
              countryFlag+= data.comments[i].country.toUpperCase()  + '.png'
            }
            $('#comments').append(
              '<div class="comment"><div class="comment-text comment-content">'
              + htmlEncode(data.comments[i].comment_text)
              + '</div><div class="comment-metadata comment-text blue-grey-text text-lighten-1">'
              + '<img style="width: 20px; height: 15px;" src="' + countryFlag + '" alt="' + data.comments[i].country + '"/>'
              + '<p> at ' + moment(data.comments[i].comment_time).format('MMMM Do YYYY, h:mm a')
              + '</p></div>'
              + '</div>'
            );
          }
        }
      })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        console.log( "complete" );
      });

    $('button#comment-button').click(function() {
      var jqxhr = $.ajax({
        url: "/comments/#{postId}",
        method: 'POST',
        data: JSON.stringify({text: $('textarea#comment-input').val()}),
        contentType: 'application/json; charset=utf-8'
        })
      .done(function(data) {
        console.log( "success" );
        console.log( data );
        if (data.success == true){
          $('textarea#comment-input').val('')
          $('#comments').empty();
          for (let i = 0; i < data.comments.length; i++){
            let countryFlag = 'https://raw.githubusercontent.com/madebybowtie/FlagKit/master/Assets/PNG/';
            if (data.comments[i].country.toLowerCase() == 'unknown'){
              countryFlag = '/images/Missing_flag.png';
            } else {
              countryFlag+= data.comments[i].country.toUpperCase()  + '.png'
            }
            $('#comments').append(
              '<div class="comment"><div class="comment-text comment-content">'
              + htmlEncode(data.comments[i].comment_text)
              + '</div><div class="comment-metadata comment-text blue-grey-text text-lighten-1">'
              + '<img style="width: 20px; height: 15px;" src="' + countryFlag + '" alt="' + data.comments[i].country + '"/>'
              + '<p> at ' + moment(data.comments[i].comment_time).format('MMMM Do YYYY, h:mm a')
              + '</p></div>'
              + '</div>'
            );
          }
        }
      })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        console.log( "complete" );
      });
    });
